<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    <!-- السطر المصحح -->
    <title>EJ - {% block title %}{% endblock %}</title>

</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('website.index') }}">ESPRIT JEUNE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsMenu" aria-controls="navbarsMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsMenu">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('bureau.index') }}">Bureau</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('catalogue.index') }}">Catalogue</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('achats.index') }}">Achats</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('ventes.index') }}">Ventes</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('stocks.index') }}">Stocks</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('annuaire.index') }}">Annuaire</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('comptabilite.index') }}">Comptabilité</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('commande.index') }}">Commande</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('website.index') }}">WebSite</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('options.index') }}">Options</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="container main-container">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>